

flake8>=7.0
mypy>=1.10
mlx-2.2-py3-none-any.whl

# mlx(MiniLibX)
# MLX表示を実装する場合、このrequirements.txtとは別に、
# 課題ページにある mlx-2.2.tgz を展開して
# `pip install mlx-2.2-py3-none-any.whl` のように個別インストールする必要がある？
# 課題文Chapter III.1の要求(flake8準拠、mypyでの型チェック)をいれた。